@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
    /* ========== Color styles */

    --color-neutral-light: #edf2f4;
    --color-neutral-primary: #2b2d42;
    --color-neutral-secondary: #8d99ae;

    --color-red-primary: #d90429;
    --color-red-secondary: #ef233c;

  }

  html{
    background-color: var(--color-neutral-light);
  }
   
}
